package order

templ tableData() {
	<div data-views="order-table-data">
		<p class="text-5xl">Table</p>
	</div>
	// elem.Table
}

templ OrderDetails() {
	// elem.Header
}

templ OrderForm() {
	// elem.Input
	// elem.BUtton
}
