package bookmarks

import (
	"fmt"
	"github.com/adysyukri/bookemarker-go/templates/elem"
	"github.com/adysyukri/bookemarker-go/templates/elem/icons"
	"strconv"
)

templ BookmarkCard(bm *Bookmark) {
	<div class="bookmarkcard" x-data="{modalOpen: false}">
		@elem.Card(bm.Title, elem.Button(elem.BtnError, "Delete", "submit", templ.Attributes{
			"hx-delete": fmt.Sprintf("/delete/%s", bm.ID),
			"hx-swap":   "outerHTML",
			"hx-target": fmt.Sprintf("#card-%s", bm.ID),
		}), bm.ID,
			icons.TrashBin(templ.Attributes{
				"hx-delete":  fmt.Sprintf("/delete/%s", bm.ID),
				"hx-swap":    "outerHTML",
				"hx-target":  fmt.Sprintf("#card-%s", bm.ID),
				"hx-trigger": "click",
				"class":      "hover:cursor-pointer",
			}),
			icons.EditPencil(templ.Attributes{
				"@click": "modalOpen=true",
			})) {
			<p><strong>Author: </strong>{ bm.Author }</p>
			<p><strong>Total Page: </strong>{ fmt.Sprint(bm.Total) }</p>
			<p><strong>Pages Read: </strong>{ fmt.Sprint(bm.Read) }</p>
		}
		@ModalInput(bm)
	</div>
}

templ ModalInput(bm *Bookmark) {
	<div class="modalinput">
		@elem.ModalBody("Update") {
			<form
				hx-on="click"
				hx-put={ fmt.Sprintf("/edit/%s", bm.ID) }
				hx-target={ fmt.Sprintf("#card-%s", bm.ID) }
				hx-swap="outerHTML"
				hx-on::after-request="this.reset()"
			>
				@elem.Input("text", "Book Title", "title", bm.Title)
				@elem.Input("text", "Book Author", "author", bm.Author)
				@elem.Input("number", "Pages Total", "total", strconv.Itoa(bm.Total))
				@elem.Input("number", "Pages Read", "read", strconv.Itoa(bm.Read))
				@elem.Button(elem.BtnPrimary, "Save", "submit", templ.Attributes{
					"@click": "modalOpen=false",
				})
				@elem.Button(elem.BtnNeutral, "Close", "button", templ.Attributes{"@click": "modalOpen=false"})
			</form>
		}
	</div>
}
